@font-face {
  font-family: 'helvetica_now_displayblack';
  src: url('./fonts/helveticanowdisplay-black-webfont.eot');
  src: url('./fonts/helveticanowdisplay-black-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/helveticanowdisplay-black-webfont.woff2') format('woff2'),
    url('./fonts/helveticanowdisplay-black-webfont.woff') format('woff'),
    url('./fonts/helveticanowdisplay-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_now_displaybold';
  src: url('./fonts/helveticanowdisplay-bold-webfont.eot');
  src: url('./fonts/helveticanowdisplay-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/helveticanowdisplay-bold-webfont.woff2') format('woff2'),
    url('./fonts/helveticanowdisplay-bold-webfont.woff') format('woff'),
    url('./fonts/helveticanowdisplay-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_now_displaylight';
  src: url('./fonts/helveticanowdisplay-light-webfont.eot');
  src: url('./fonts/helveticanowdisplay-light-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/helveticanowdisplay-light-webfont.woff2') format('woff2'),
    url('./fonts/helveticanowdisplay-light-webfont.woff') format('woff'),
    url('./fonts/helveticanowdisplay-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_now_displaymedium';
  src: url('./fonts/helveticanowdisplay-medium-webfont.eot');
  src: url('./fonts/helveticanowdisplay-medium-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/helveticanowdisplay-medium-webfont.woff2') format('woff2'),
    url('./fonts/helveticanowdisplay-medium-webfont.woff') format('woff'),
    url('./fonts/helveticanowdisplay-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticanowdisplay_regularRg';
  src: url('./fonts/helveticanowdisplay-regular-webfont.eot');
  src: url('./fonts/helveticanowdisplay-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/helveticanowdisplay-regular-webfont.woff2') format('woff2'),
    url('./fonts/helveticanowdisplay-regular-webfont.woff') format('woff'),
    url('./fonts/helveticanowdisplay-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
